<div class="app">
  <h4><%= @quest.name%></h4>

  <!--   <%= link_to "Retour", quest_path(@quest), class: "btn btn-dark position-absolute" %>
    <br>
    <br> -->

 <div class="full hide-scroll">

    <ul class="hs">
      <% @videos.first(4).each do |video| %>
      <li class="item-videos">
      <iframe width="120" class="videos" src="<%= video.url %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h4 class="card-title font-weight-bold"><%= video.name %></h4>
      </li>
      <% end %>
    </ul>

  </div>
  </div>


