// Specific CSS for your home-page
.homepage {
  background: #4f6aa4;
  h1 {
    font-family: "Abril Fatface", cursive;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 94px;
    text-align: center;
    color: #ffffff;
  }

  .home-text {
    font-family: Asap;
    font-size: 20px;
    line-height: 35px;
    text-align: justify;
    margin: 50px;
    letter-spacing: 2px;
    color: #bce6df;
    text-shadow: 1px 1px #000000;
  }

  .btn-flat {
    background-color: #78bdb3;
    padding: 20px 22px;
    border-radius: 4px;
    font-family: asap;
    color: #fffefe;
    border: 2px solid white;
    border-radius: 10px;
    width: 40px;
    text-align: center;
    box-shadow: 2px 2px 6px #78bdb3;
    font-size: 20px;
  }

  .a {
    font-family: asap;
    color: #fffefe;
    font-size: 16px;
  }

  .p-rel {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 140vh;
  }

  .p-abs {
    position: absolute;
  }

  .mt-5 {
    margin-top: 5px;
  }

  .home-img {
    background-image: url("https://res.cloudinary.com/dqymzh7jc/image/upload/v1598525987/main_2_1_yqgb2w.png");
    width: 320px;
    height: 210px;
    background-size: cover;
  }
}
