.message-container {
  padding: 20px;


  #messages {
    color: #78bdb3;
    font-size: 20px;
    text-align: center;
}

span {
  color: #78bdb3;
  font-weight: bold;
}

p {
  font-family: "Asap", sans-serif;
  color: black;
  font-weight: medium;
}

}
