.userquest-show {
  border: 25px solid white;
}
.categories {
  color: white;
  font-size: 20px;
  font-weight: 300;
  padding-bottom: 15px;
}

.title-main {
  font-family: "Abril Fatface", cursive;
  color: rgb(252, 252, 252);
  font-weight: 400;
  font-size: 28px;
  letter-spacing: 10px;
  line-height: 150%;
  padding-bottom: 15vh;
  padding-top: 15vh;
  position: relative;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #78bdb3;
}

.one {
  background: #260b9d;
  border-block: 20px;
  border-radius: 20px;
}
.two {
  background: #78bdb3;
  border-block: 20px;
  border-radius: 20px;
}
.three {
  background: #000000;
  border-radius: 20px;
  padding-top: 20px;
}
