.userquest-show {
  border: 25px solid white;
}

.no-underline {
  &:hover {
    text-decoration: none;
  }
}

.categories {
  color: white;
  font-size: 24px;
  font-weight: 300;
  padding-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.genius {
  color: #78bdb3;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

#container {
  margin: 10vw;
}

.cat {
  position: relative;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.title-main {
  font-family: "Abril Fatface", cursive;
  color: rgb(252, 252, 252);
  font-weight: 400;
  font-size: 28px;
  letter-spacing: 10px;
  line-height: 150%;
  padding-bottom: 10vh;
  padding-top: 10vh;
  position: relative;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #78bdb3;
}

.one {
  width: 320px;
  height: 80px;
  background: #4f6aa4;
  border: 3px solid #78bdb3;
  border-radius: 10px;
}
.two {
  width: 320px;
  height: 80px;
  background: #4f6aa4;
  border: 3px solid #78bdb3;
  border-radius: 10px;
  border-radius: 10px;
}
.three {
  width: 320px;
  height: 80px;
  background: #4f6aa4;
  border: 3px solid #78bdb3;
  border-radius: 30px;
  border-radius: 10px;
}

.whitespace {
  height: 10vh;
}
