.categories {
  color: white;
  text-decoration: none;
  font-weight: 400;
  outline: none;
}

.params-show {
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 15px;
  .title-main {
    font-family: asap;
    margin: 0;
    font-size: 16px;
    color: black;
    flex: 8;
  }
}

.one {
  background: #260b9d;
}
.two {
  background: #78bdb3 !important;
}
.three {
  background: #000000;
}

.item {
  padding: 10px;
  border-radius: 10px;
}
