<form action="/mood_update" method="post">
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <label for="mood">Mood</label>
  <input type="checkbox" id="joie" name="joie"><label for="joie">Joie</label>
  <input type="checkbox" id="triste" name="triste"><label for="triste">Triste</label>

  <input type="submit" name="commit" value="Update User" data-disable-with="Update User">

</form>

