<div class="homepage">
  <div class="p-rel">
    <div>
      <span><h1 class="title-main">Bienvenue</h1></span>
    </div>

    <p class="home-text">
      INPOWAER t'accompagne dans ton voyage émotionnel pour faire de toi un
      superhéro de la communication.
    </p>
     <br />
      <br />
    <div class="home-img"></div>
    <div class="mt-5"></div>
    <div class="mt-5"></div>
    <div class="mt-5"></div>
    
      <div class="mt-5">
        <a class="btn-flat" href="/users/sign_in">Se connecter</a>
      </div>
      <br />
      <br />
      <a class="a" href="/users/sign_up">Créer un compte</a>
    </div>
  </div>
</div>
