<div class="homepage">
  <div class="logo-home mt-5"></div>

  <div class="p-rel">
    <div>
      <h1>Bienvenue</h1>
      <img
        class="ligne p-abs stroke-bvn"
        src="images/ligne_bienvenue.svg"
        alt=""
      />
    </div>

    <div class="mt-5">
      <p class="home-text">
        Cette app va t’accompagner dans ton voyage émotionnel et faire de toi un
        superhéro de la communication.
      </p>
    </div>

    <div class="mt-5">
      <a class="btn-flat" href="#">Connexion</a>
    </div>

    <div class="home-img mt-5"></div>
  </div>
</div>
