<div class="homepage">
  <div class="p-rel">
    <div>
      <h1>Bienvenue</h1>
      <img
        class="ligne p-abs stroke-bvn"
        src="https://res.cloudinary.com/dqymzh7jc/image/upload/v1598096636/ligne_bienvenue_v90zek.svg"
        alt=""
      />
    </div>

    <p class="home-text">
      INPOWAER va t’accompagner dans ton voyage émotionnel et faire de toi un
      superhéro de la communication.
    </p>
    <div class="home-img mt-5"></div>
    <div class="mt-5">
      <a class="btn-flat" href="/users/sign_in">Connexion</a>
    </div>
  </div>
</div>
